body {
  font-family: Arial, sans-serif;
  background: #f5f5f5;
  padding: 40px;
}

h1 {
  text-align: center;
}

.box {
  max-width: 650px;
  margin: auto;
  background: white;
  padding: 20px;
  border-radius: 8px;
}

input[type="file"] {
  margin-bottom: 15px;
}

video {
  width: 100%;
  margin-bottom: 20px;
  display: none;
  border-radius: 6px;
}

label {
  display: block;
  margin-top: 15px;
  font-weight: bold;
}

input[type="range"] {
  width: 100%;
}
